[defaults]
host_key_checking = False
inventory = ./inventory.ini
forks = 10
timeout = 30
# Change the remote temporary directory to a common path
remote_tmp = /tmp/.ansible-${USER}/tmp
# Ensure the local temporary directory is also set
local_tmp  = /tmp/.ansible-${USER}/tmp

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
# This solves the "sudo: a terminal is required" error
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
